global
        debug

defaults
        log global
        mode http
        timeout connect 5000
        timeout client 5000
        timeout server 5000

frontend main
        bind *:80
        default_backend app

backend app
        balance roundrobin
        mode http
        server srv1 nginxGreen
        server srv2 nginxBlue

listen stats
        bind *:1936
        stats enable
        stats uri /
        stats hide-version
        stats auth admin:admin